#straw-pirate
{
  background: url("../image/true-index/straw_pirate.png");
  position:absolute;
  top:161px;
  width:1199px;
  left:160px;
  height:354px;
  text-align: center;
  font-size:60px;
  color:white;
}
#straw-pirate:hover
{
  background: url("../image/true-index/straw_pirate-active.png");
  background-position: center center;
}
#straw-pirate p
{
  visibility: hidden;
}
#straw-pirate:hover p
{
  visibility:visible;
}
/*-------------------------------------------*/
#shichibukai
{
  background: url("../image/true-index/shichibukai.png");
  position: absolute;
  top:519px;
  left:160px;
  width:296px;
  height:166px;
  text-align: center;
  font-size:60px;
  color:white;
}
#shichibukai p
{
  line-height: 0.9;
  visibility: hidden;
}

#shichibukai:hover
{
  background-position:center top;
  background: url("../image/true-index/shichibukai-active.png");
}
#shichibukai:hover p
{
  visibility:visible;
}
/*離開圖片，文字消失，移到身上出現 (圖片亦同)*/
#marine
{
  background: url("../image/true-index/marine.png");
  position: absolute;
  left:461px;
  top:519px;
  width:296px;
  height:166px;
  text-align: center ;
  font-size:60px;
  color:white;
}
#marine p
{
  line-height: 0.9;
  visibility: hidden;
}
#marine:hover p
{

  visibility:visible;
}
#marine:hover
{
  background-position:center top;
  background: url("../image/true-index/marine-active.png");
}

#yonko
{
  background: url("../image/true-index/yonko.png");
  position: absolute;
  left:762px;
  top:519px;
  width:296px;
  height:166px;
  text-align: center;
  font-size:60px;
  color:white;
}
#yonko:hover
{
  background: url("../image/true-index/yonko-active.png");
}
#yonko p
{
  line-height: 0.9;
  visibility: hidden;
}
#yonko:hover p
{
  visibility:visible;
}
#revolutionnaires
{
  background: url("../image/true-index/revolutionnaires.png");
  position: absolute;
  left:1063px;
  top:519px;
  width:296px;
  height:166px;
  text-align: center;
  font-size:60px;
  color:white;
}
#revolutionnaires:hover
{
  background: url("../image/true-index/revolutionnaires-active.png");
}
#revolutionnaires p
{
  line-height: 0.9;
  visibility: hidden;
}
#revolutionnaires:hover p
{
  visibility:visible;
}
