#movie-special
{
  position:absolute;
  background: url("../image/utility/movie-icon_active.png");
  width:57px;
  height:64px;
  top:57px;
  left:1300px;
}
#gold
{
  background: url("../image/movie/gold.png");
  position:absolute;
  top:160px;
  width:492px;
  height:666px;
  line-height: 1.6;
  text-align: center;
  font-size:60px;
  color:white;
}
#gold:hover
{
  background: url("../image/movie/gold-active.png");
  background-position: center center;
}
#gold p
{
  visibility: hidden;
}
#gold:hover p
{
  visibility: visible;
}
#Z
{
  background: url("../image/movie/Z.png");
  position:absolute;
  top:160px;
  left:494px;
  width:1025px;
  height:221px;
  text-align: center;
  font-size:60px;
  line-height: 1.2;
  color:white;
  background-position: center center;
}
#Z:hover
{
  background: url("../image/movie/Z-active.png");
  background-position: center center;
}
#Z p
{
  visibility: hidden;
}
#Z:hover p
{
  visibility: visible;
}
#SW
{
  background: url("../image/movie/SW.png");
  position:absolute;
  top:382px;
  left:494px;
  width:1025px;
  height:221px;
  text-align: center;
  font-size:60px;
  line-height: 1.2;
  color:white;
  background-position: center center;
}
#SW:hover
{
  background: url("../image/movie/SW-active.png");
  background-position: center center;
}
#SW p
{
  visibility: hidden;
}
#SW:hover p
{
  visibility: visible;
}

#more-movie
{
  background: url("../image/movie/more.png");
  position:absolute;
  left:494px;
  top:606px;
  width:1025px;
  height:221px;
  text-align: center;
  font-size:60px;
  line-height: 1.2;
  color:white;
  background-position: center center;
}
#more-movie:hover
{
  background: url("../image/movie/more-active.png");
  background-position: center center;
}
#more-movie p
{
  visibility: hidden;
}
#more-movie:hover p
{
  visibility: visible;
}
