#revo-title
{
  position: absolute;
  left:635px;
  top:250px;
  font-size:90px;
  font-weight:bold;
  color:white;
}
#revo-photo
{
  width:1200px;
  height:676px;
  position:absolute;
  left:148px;
  top:420px;
}
#revo-photo-2
{
  width:1200px;
  height:676px;
  position:absolute;
  left:148px;
  top:1670px;
}
#revo-content
{
  position: absolute;
  width:1200px;
  left:148px;
  top:1150px;
  font-size:36px;
  color:white;
}

#revo-content-2
{
  position: absolute;
  width:1200px;
  left:148px;
  top:2380px;
  font-size:36px;
  color:white;
}
#header-index-revo
{
  background: url("../image/utility/header.png");
  width:1519px;
  height:156px;
  float: left;
}
#footer-one_piece_revo
{
position: absolute;
width:1519px;
height:100px;
top:3700px;
opacity: 1.0;
text-align: center;
font-size: 20px;
font-weight: bold;
color:white;
line-height: 1.8;
background-color:#99BBFF;
}
