#header-index-shichi
{
  background: url("../image/utility/header.png");
  width:1519px;
  height:156px;
  float: left;
}


#shichi-title
{
  position: absolute;
  left:545px;
  top:250px;
  font-size:90px;
  font-weight:bold;
  color:white;
}
#shichi-group
{
  width:1000px;
  height:563px;
  position: absolute;
  left:248px;
  top:420px;
}
#shichi-content
{
  position: absolute;
  left:260px;
  top:1050px;
  font-size:36px;
  font-weight:bold;
  color:white;
}
#character-title-2
{
  position: absolute;
  left:585px;
  top:1500px;
  font-size:90px;
  font-weight:bold;
  color:white;

}
/*---------------------------------------------------*/
#bear
{
  background: url("../image/shichibukai/bear.png");
  position: absolute;
  left:248px;
  top:1670px;
  width:102px;
  height:563px;
}
#bear:hover
{
  background: url("../image/shichibukai/bear_active.png");
}
#jinbe
{
  background: url("../image/shichibukai/jinbe.png");
  position: absolute;
  left:350px;
  top:1670px;
  width:100px;
  height:563px;
}
#jinbe:hover
{
  background: url("../image/shichibukai/jinbe_active.png");
}

#clown
{
  background: url("../image/shichibukai/clown.png");
  position: absolute;
  left:450px;
  top:1670px;
  width:98px;
  height:563px;
}
#clown:hover
{
  background: url("../image/shichibukai/clown_active.png");
}
#mingo
{
  background: url("../image/shichibukai/mingo.png");
  position: absolute;
  left:548px;
  top:1670px;
  width:98px;
  height:563px;
}
#mingo:hover
{
  background: url("../image/shichibukai/mingo_active.png");
}

#dinch
{
  background: url("../image/shichibukai/dinch.png");
  position: absolute;
  left:646px;
  top:1670px;
  width:100px;
  height:563px;
}
#dinch:hover
{
  background: url("../image/shichibukai/dinch_active.png");
}
#boa
{
  background: url("../image/shichibukai/boa.png");
  position: absolute;
  left:746px;
  top:1670px;
  width:98px;
  height:563px;
}
#boa:hover
{
  background: url("../image/shichibukai/boa_active.png");
}
#hawk
{
  background: url("../image/shichibukai/hawk.png");
  position: absolute;
  left:844px;
  top:1670px;
  width:100px;
  height:563px;
}
#hawk:hover
{
  background: url("../image/shichibukai/hawk_active.png");
}
#law
{
  background: url("../image/shichibukai/law.png");
  position: absolute;
  left:944px;
  top:1670px;
  width:102px;
  height:563px;
}
#law:hover
{
  background: url("../image/shichibukai/law_active.png");
}
#sand
{
  background: url("../image/shichibukai/sand.png");
  position: absolute;
  left:1046px;
  top:1670px;
  width:98px;
  height:563px;
}
#sand:hover
{
  background: url("../image/shichibukai/sand_active.png");
}

#shadow
{
  background: url("../image/shichibukai/shadow.png");
  position: absolute;
  left:1144px;
  top:1670px;
  width:102px;
  height:563px;
}
#shadow:hover
{
  background: url("../image/shichibukai/shadow_active.png");
}
/*---------------------------------------------------*/
 #bear-frame
 {
   position:absolute;
   top:2400px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #bear-photo
 {
   background: url("../image/shichibukai/bear-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:2480px;
   left:900px;
   background-repeat: no-repeat;
 }
 #bear-photo:hover
 {
   background: url("../image/shichibukai/bear-active.png");
 }

 #bear-title
 {
   position: absolute;
   left:360px;
   top:2450px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #bear-title:hover
 {

   color:	#FFC8B4;
 }
 #bear-intro
 {
   position: absolute;
   left:240px;
   top:2580px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #bear-intro:hover
 {
   color:#FFC8B4;
 }
 /*---------------------------------------------------*/
 #jinbe-frame
 {
   position:absolute;
   top:3200px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #jinbe-photo
 {
   background: url("../image/shichibukai/jinbe-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:3280px;
   left:900px;
   background-repeat: no-repeat;
 }
 #jinbe-photo:hover
 {
   background: url("../image/shichibukai/jinbe-active.png");
 }

 #jinbe-title
 {
   position: absolute;
   left:450px;
   top:3250px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #jinbe-title:hover
 {

   color:	#CCEEFF;
 }
 #jinbe-intro
 {
   position: absolute;
   left:240px;
   top:3380px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #jinbe-intro:hover
 {
   color:#CCEEFF;
 }
 /*-------------------------------------------*/
 #clown-frame
 {
   position:absolute;
   top:4000px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #clown-photo
 {
   background: url("../image/shichibukai/clown-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:4080px;
   left:900px;
   background-repeat: no-repeat;
   background-position: center center;
 }
 #clown-photo:hover
 {
   background: url("../image/shichibukai/clown-active.png");
 }

 #clown-title
 {
   position: absolute;
   left:400px;
   top:4050px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #clown-title:hover
 {

   color:	#FF8888;
 }
 #clown-intro
 {
   position: absolute;
   left:190px;
   top:4180px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #clown-intro:hover
 {
   color:#FF8888;
 }
 /*-------------------------------------------*/
 #mingo-frame
 {
   position:absolute;
   top:4800px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #mingo-photo
 {
   background: url("../image/shichibukai/mingo-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:4880px;
   left:900px;
   background-repeat: no-repeat;
   background-position: center top;
 }
 #mingo-photo:hover
 {
   background: url("../image/shichibukai/mingo-active.png");

}
 #mingo-title
 {
   position: absolute;
   left:260px;
   top:4850px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #mingo-title:hover
 {

   color:	#FF8888;
 }
 #mingo-intro
 {
   position: absolute;
   left:190px;
   top:4980px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #mingo-intro:hover
 {
   color:#FF8888;
 }
 /*-------------------------------------------*/
 #dinch-frame
 {
   position:absolute;
   top:5600px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #dinch-photo
 {
   background: url("../image/shichibukai/dinch-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:5680px;
   left:900px;
   background-repeat: no-repeat;
   background-position: center top;
 }
 #dinch-photo:hover
 {
   background: url("../image/shichibukai/dinch-active.png");

}
 #dinch-title
 {
   position: absolute;
   left:320px;
   top:5650px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #dinch-title:hover
 {

   color:	#AAAAAA;
 }
 #dinch-intro
 {
   position: absolute;
   left:190px;
   top:5780px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #dinch-intro:hover
 {
   color:#AAAAAA;
 }
 /*-------------------------------------------*/
 #boa-frame
 {
   position:absolute;
   top:6400px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #boa-photo
 {
   background: url("../image/shichibukai/boa-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:6480px;
   left:900px;
   background-repeat: no-repeat;
   background-position: center top;
 }
 #boa-photo:hover
 {
   background: url("../image/shichibukai/boa-active.png");

}
 #boa-title
 {
   position: absolute;
   left:320px;
   top:6450px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #boa-title:hover
 {

   color:	#FFB7DD;
 }
 #boa-intro
 {
   position: absolute;
   left:190px;
   top:6580px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #boa-intro:hover
 {
   color:#FFB7DD;
 }
 /*-------------------------------------------*/
 #hawk-frame
 {
   position:absolute;
   top:7200px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #hawk-photo
 {
   background: url("../image/shichibukai/hawk-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:7280px;
   left:900px;
   background-repeat: no-repeat;
   background-position: center top;
 }
 #hawk-photo:hover
 {
   background: url("../image/shichibukai/hawk-active.png");

}
 #hawk-title
 {
   position: absolute;
   left:270px;
   top:7250px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #hawk-title:hover
 {

   color:	#DDFF77;
 }
 #hawk-intro
 {
   position: absolute;
   left:190px;
   top:7380px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #hawk-intro:hover
 {
   color:#DDFF77;
 }
 /*---------------------------------*/
 #law-frame
 {
   position:absolute;
   top:8000px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #law-photo
 {
   background: url("../image/shichibukai/law-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:8080px;
   left:900px;
   background-repeat: no-repeat;
   background-position: center top;
 }
 #law-photo:hover
 {
   background: url("../image/shichibukai/law-active.png");

}
 #law-title
 {
   position: absolute;
   left:180px;
   top:8050px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #law-title:hover
 {

   color:	#FFFF77;
 }
 #law-intro
 {
   position: absolute;
   left:190px;
   top:8180px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #law-intro:hover
 {
   color:#FFFF77;
 }
 /*---------------------------------*/
 #sand-frame
 {
   position:absolute;
   top:8800px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #sand-photo
 {
   background: url("../image/shichibukai/sand-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:8880px;
   left:900px;
   background-repeat: no-repeat;
   background-position: center top;
 }
 #sand-photo:hover
 {
   background: url("../image/shichibukai/sand-active.png");

}
 #sand-title
 {
   position: absolute;
   left:300px;
   top:8850px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #sand-title:hover
 {

   color:	#FFBB66;
 }
 #sand-intro
 {
   position: absolute;
   left:190px;
   top:8980px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #sand-intro:hover
 {
   color:#FFBB66;
 }
 /*---------------------------------*/
 #shadow-frame
 {
   position:absolute;
   top:9600px;
   left:150px;
   width:1200px;
   height:730px;
 }
 #shadow-photo
 {
   background: url("../image/shichibukai/shadow-photo.png");
   position:absolute;
   width:423px;
   height:600px;
   top:9680px;
   left:900px;
   background-repeat: no-repeat;
   background-position: center top;
 }
 #shadow-photo:hover
 {
   background: url("../image/shichibukai/shadow-active.png");

}
 #shadow-title
 {
   position: absolute;
   left:320px;
   top:9650px;
   font-size:60px;
   font-weight:bold;
   color:	white;
 }

 #shadow-title:hover
 {

   color:	#E38EFF;
 }
 #shadow-intro
 {
   position: absolute;
   left:190px;
   top:9780px;
   font-size:36px;
   font-weight:bold;
   color:white;
 }
 #shadow-intro:hover
 {
   color:#E38EFF;
 }
 /*---------------------------------------------*/
 #footer-one_piece-shichi
 {
   position: absolute;
   width:1519px;
   height:60px;
   top:10500px;
   opacity: 0.5;
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   color:white;
   background-color:#99BBFF;
 }

 #footer-one_piece-shichi:hover
 {
   opacity: 1.0;
 }
