/*utility*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
  font-family:Helvetica,sans-serif;
}
body
{
  background-color:#000000;
}
.clear
{
  clear:both;
}

/*index.html*/
#wide
{
  width:1200px;
  height:800px;
  float:left;
  margin-top:100px;
  margin-left:150px;
}
#two-years-ago
{
  position: absolute;
  width:1200px;
  height:675px;
  float:left;
  z-index:1;
}
#live
{
  position: relative;
  top:475px;
  left:84px;
  width:377px;
  height:177px;
  z-index:2;
}
/*上面是重疊圖片參考*/

#Line
{
  margin-left:640px;
  font-size:50px;
  font-weight:bold;
  color:white;
  clear:both;
  float:left;
}
#prologe
{
   font-size:36px;
   font-weight:bold;
   color:white;
   clear:both;
   float:left;
   margin-top:50px;
   margin-left:150px;
}
#object
{
  margin-top:80px;
  margin-left:439px;
  width:622px;
  height:348px;
  clear:both;
  float:left;
}
/*index.html*/
